<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/boostrap.min.css">
    <link rel="stylesheet" href="/bower_components/boostrap/dist/css/bootstrap.min.css">
    <link href="/css/index.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap"></script>
    <script src="/js/popper.min.js"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Magasin de Sport</title>
</head>
<header>
        <nav class="navbar navbar-expand-lg navbar-light" id="menu2">
                <a id="principal" class="navbar-brand" href="#">Magasin de Sport</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto" id="listamenu">
                    <li class="nav-item active">
                      <a id="a1" class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a id="a1" class="nav-link" href="/tenis">Tenis</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/buzos">Ropa Superior</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/pantalonetas">Ropa Inferior</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/contactenos">Contactenos</a>
                    </li>
                </div>
              </nav>
</header>
<body id="cuerpo">
<!-- imagen inicio -->
        <div class="bd-example">
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" id="contenedor1">
                      <img src="/img/banner2.jpg" class="d-block w-100" alt="..." id="">
                      <div class="carousel-caption d-none d-md-block" id="ensayo">
                        <h1 id="titulo">Magasin de Sport</h1>
                        <p id="titulo2">Las mejores marcas del mercado.</p>
                      </div>
                    </div>
                </div> 
            </div>   
        </div>
<!-- imagen inicio final -->
<!--inicio pagina-->
        <section>
                <div class="carousel-caption d-none d-md-block" id="ensayo1">
                        <h1 id="titulo3">Tenis</h1>
                      </div>
                <div class="row" id="seccion1">
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo">
                                        <img src="/img/nike1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Nike</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                        </div>
                                      </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo">
                                        <img src="/img/adidas1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Adidas</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          
                                        </div>
                                        
                                      </div>
                                      <br>
                            <a href="#" class="btn btn-primary" >Ver Catalogo</a>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo">
                                        <img src="/img/puma1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Puma</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                        </div>
                                </div>
                        </div>
                      </div>
        </section>
<!--fin seccion 1-->
<!--inciion seccion2-->
<section>
        <div class="carousel-caption d-none d-md-block" id="ensayo2">
                <h1 id="titulo3">Buzos</h1>
              </div>
        <div class="row" id="seccion1">
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;" id="fondo">
                                <img src="/img/bnike1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Nike</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;" id="fondo">
                                <img src="/img/badidas1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Adidas</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  
                                </div>
                                
                              </div>
                              <br>
                    <a href="#" class="btn btn-primary" >Ver Catalogo</a>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;" id="fondo">
                                <img src="/img/bpuma1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Puma</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                </div>
                        </div>
                </div>
              </div>
</section>
<!--fin seccion2-->
<!--inciio seccion3-->
<section>
        <div class="carousel-caption d-none d-md-block" id="ensayo3">
                <h1 id="titulo3">Sudaderas</h1>
              </div>
        <div class="row" id="seccion1">
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;" id="fondo">
                                <img src="/img/pnike1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Nike</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                </div>
                              </div>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;" id="fondo">
                                <img src="/img/padidas1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Adidas</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  
                                </div>
                                
                              </div>
                              <br>
                    <a href="#" class="btn btn-primary" >Ver Catalogo</a>
                </div>
                <div class="col-md-4">
                        <div class="card" style="width: 18rem;" id="fondo">
                                <img src="/img/ppuma1.jpg" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Puma</h5>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                </div>
                        </div>
                </div>
              </div>
</section>
<!--fin seccion3-->
</body>
<footer id="footer" class="bg-dark" >
    <div class="container">
      <img src="/img/about.jpg" class="logo-brand" alt="logo">
      <ul class="list-inline">
        <li class="list-inline-item footer-menu"><a href="">Inicio</a></li>
        <li class="list-inline-item footer-menu"><a href="">Inicio</a></li>
        <li class="list-inline-item footer-menu"><a href="">Inicio</a></li>
        <li class="list-inline-item footer-menu"><a href="">Inicio</a></li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item"><a href=""><i class="iconion-logo-instagram"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="iconion-logo-instagram"></i></a></li>
        <li class="list-inline-item"><a href=""><i class="iconion-logo-instagram"></i></a></li>
      </ul>
    </div>

</footer>

</html>