<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<header>
        <nav class="navbar navbar-expand-lg navbar-light" id="menu2">
                <a id="principal" class="navbar-brand" href="#">Magasin de Sport</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto" id="listamenu">
                    <li class="nav-item active">
                      <a id="a1" class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a id="a1" class="nav-link" href="/tenis">Tenis</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/buzos">Ropa Superior</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/pantalonetas">Ropa Inferior</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/contactenos">Contactenos</a>
                    </li>
                </div>
              </nav>
</header>
<body>
    <h1>login</h1>
</body>
</html>