<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/boostrap.min.css">
    <link rel="stylesheet" href="/bower_components/boostrap/dist/css/bootstrap.min.css">
    <link href="/css/tenis.css" rel="stylesheet" type="text/css" />
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap"></script>
    <script src="/js/popper.min.js"></script>
    <title>Magasin de Sport</title>
</head>
<header>
        <nav class="navbar navbar-expand-lg navbar-light" id="menu2">
                <a id="principal" class="navbar-brand" href="#">Magasin de Sport</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto" id="listamenu">
                    <li class="nav-item active">
                      <a id="a1" class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a id="a1" class="nav-link" href="/tenis">Tenis</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/buzos">Ropa Superior</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/pantalonetas">Ropa Inferior</a>
                    </li>
                    <li class="nav-item">
                        <a id="a1" class="nav-link" href="/contactenos">Contactenos</a>
                    </li>
                </div>
              </nav>
</header>
<body id="cuerpo">
        <!--inicio-->
        <section>
                <div class="row" id="seccion12">
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/bnike1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Nike</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                        </div>
                                      </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/badidas1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Adidas</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          
                                        </div>
                                        
                                      </div>
                                      <br>
                            <a href="#" class="btn btn-primary" >Ver Catalogo</a>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/bpuma1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Puma</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                        </div>
                                </div>
                        </div>
                      </div>
        </section>
        <!--fin-->
        <!--inicio-->
        <section>
                <div class="row" id="seccion12">
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/bnike1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Nike</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                        </div>
                                      </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/badidas1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Adidas</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          
                                        </div>
                                        
                                      </div>
                                      <br>
                            <a href="#" class="btn btn-primary" >Ver Catalogo</a>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/bpuma1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Puma</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                        </div>
                                </div>
                        </div>
                      </div>
        </section>
        <!--fin-->
        <!--inicio-->
        <section>
                <div class="row" id="seccion12">
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/bnike1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Nike</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                        </div>
                                      </div>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/badidas1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Adidas</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                          
                                        </div>
                                        
                                      </div>
                                      <br>
                            <a href="#" class="btn btn-primary" >Ver Catalogo</a>
                        </div>
                        <div class="col-md-4">
                                <div class="card" style="width: 18rem;" id="fondo2">
                                        <img src="/img/bpuma1.jpg" class="card-img-top" alt="...">
                                        <div class="card-body">
                                          <h5 class="card-title">Puma</h5>
                                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> 
                                        </div>
                                </div>
                        </div>
                      </div>
        </section>
        <!--fin-->
</body>
</html>