#cuerpo {
    background-color: #3B3838;
}

#principal {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: beige
}

#a1 {
    color: beige;
}


#seccion12{
    margin: 80px
}

#fondo2{
    background: #FF2A00 ;
}